{% extends 'couriers/base.html' %}
{% block create_pickupactive %}active{% endblock create_pickupactive %}

{% block title %}Create Pickup{% endblock %}
{% block css %}
<style>
    #chat-reply {
        margin-top: 20px;
    }
    .container{
        min-height: 120vh;
      }
</style>
{% endblock css %}
{% block content %}
<h2>Request Pickup for Booking ID: 123</h2>
<form action="/pickup/create/123/" method="post">
    <input type="hidden" name="csrfmiddlewaretoken" value="your_csrf_token_here">
    <button type="submit">Submit</button>
</form>
    
{% endblock %}
