{% extends 'couriers/base.html' %}

{% block title %}Pickup Details{% endblock %}
{% block css %}
<style>
    #chat-reply {
        margin-top: 20px;
    }
    .container{
        min-height: 120vh;
      }
</style>
{% endblock css %}
{% block content %}
    <h2>Pickup Details</h2>
    <p><strong>Pickup Address:</strong> {{ pickup.pickup_address }}</p>
    <p><strong>Pickup Time:</strong> {{ pickup.pickup_time }}</p>
    <p><strong>Status:</strong> {% if pickup.is_pickup_complete %}Completed{% else %}Pending{% endif %}</p>
{% endblock %}
